<div class="list-course">
    <app-breadcrumbs-navbar></app-breadcrumbs-navbar>
    <div class="container">
        <div>
            <input [(ngModel)]="searchTerm" type="text" placeholder="Text to search">
            <button [disabled]="!searchTerm" class="search-button" (click)="onSearch(searchTerm)">
                Search
            </button>
        </div>
        <div class="align-right">
            <button class="add-course-button">+ Add course</button>
        </div>

        <app-courses-list [filterTitle]="titleToSearch"></app-courses-list>
    </div>
</div>