@import '../../../styles.scss';

:host { 
    @include row;
    justify-content: flex-start;
    
    &.ng-pristine {
        border: none;
    }
 }

input {
    width: 100%;
    border-radius: 3px;
    border: solid 1px #d9dbe3;
    background-color: var(--white);
    text-indent: 15px;
  }

  .mat-form-field {
      width: 100%;
  }
