@import '../../../styles.scss';

.bg {
  @include row;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  background-color: #414452;
}

.row {
  @include row;
  justify-content: flex-end;

  .action {
    cursor: pointer;
    margin: 0 10px;

    span {
      padding-left: 3px;
    }
  }
}

.Logo {
  width: 140px;
  height: 64px;
  object-fit: none;
  margin-left: 25px;
}

.User-login {
  width: 59px;
  height: 18px;
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: var(--white);
}

  .ic_user {
    width: 10px;
    height: 12px;
    object-fit: contain;
  }

  .ic_exit {
    width: 16px;
    height: 12px;
    object-fit: contain;
  }

  .Log-off {
    width: 40px;
    height: 18px;
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--white);
  }