<div class="bg">
  <div class="block">
    <img src="assets/img/logo.png" srcset="assets/img/logo@2x.png 2x,
             assets/img/logo@3x.png 3x" class="logo">
    <mat-select (selectionChange)="onChangeLanguage($event)" [placeholder]="'common.choose_language' | translate">
      <mat-option *ngFor="let lang of supportedLanguages" [value]="lang">{{'app.lang.'+lang | translate}}</mat-option>
    </mat-select>
  </div>
  <div *ngIf="(userInfo$ | async) as userInfo" class="user-info">
    {{'header.welcome' | translate}} {{userInfo.name.first}} {{userInfo.name.last}}!
  </div>
  <div class="row">
    <div class="action" (click)="onLogIn()" *ngIf="!(isUserAuthenticated$|async)">
      <img src="assets/img/ic-user.png" srcset="assets/img/ic-user@2x.png 2x,
             assets/img/ic-user@3x.png 3x" class="ic_user">
      <span class="user-login">{{'header.user_login' | translate}}</span>
    </div>

    <div class="action" (click)="onLogOff()" *ngIf="isUserAuthenticated$ | async">
      <img src="assets/img/ic-exit.png" srcset="assets/img/ic-exit@2x.png 2x,
             assets/img/ic-exit@3x.png 3x" class="ic_exit">
      <span class="log-off">{{'header.log_off' | translate}}</span>
    </div>
  </div>
</div>