<div class="rectangle" [appCourseStatus]="courseInfo.date" [ngClass]="{'top-rated':courseInfo.isTopRated}">
    <div class="item-header">
        <span class="name">{{courseInfo.name | uppercase}}
            <img *ngIf="courseInfo.isTopRated" class="star" src="assets/img/star.png">
        </span>
        <span class="duration">{{courseInfo.length | duration}}</span>
        <span class="date">{{courseInfo.date | date:'d MMM, yyyy'}}</span>
    </div>
    <div class="content">
        <span class="description">{{courseInfo.description}} </span>
        <button class="mask edit-button" (click)="onEdit($event)">{{'common.edit' | translate}}</button>
        <button class="mask delete-button" (click)="onDelete($event)">{{'common.delete' | translate}}</button>
    </div>
</div>