<div class="rectangle">
    <div class="item-header">
        <span class="name">{{courseInfo.title}}</span>
        <span class="duration">{{courseInfo.duration}} min</span>
        <span class="date">{{courseInfo.creationDate | date:'d MMM, yyyy'}}</span>
    </div>
    <div class="content">
        <span class="description">{{courseInfo.description}} </span>
        <button class="mask edit-button" (click)="onEdit($event)">Edit</button>
        <button class="mask delete-button" (click)="onDelete($event)">Delete</button>
    </div>
</div>